<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Rango </title>
</head>
<body>
    <h1>Rango says...</h1>
    <div>
        hey there partner! <br />
        <strong>{{ boldmessage }}</strong>
    </div>

    <div>
    {% if categories %}
        <ul>
        {% for category in categories %}
            <li> 
                <a href="/rango/category/{{ category.slug }}/">{{ category.name }}</a>
            </li>
        {% endfor %}
            <li>
                <a href="/rango/add_category/"> Add a New Category </a>
            </li>
        </ul>
    {% else %}
        <strong> There are no categori,es present. </strong>
    {% endif %}
    </div>

    <div>
        <a href="/rango/about/">About</a><br />
        <img src="{% static 'images/pic.png' %}" alt="pic">
    </div>
</body>
</html>